@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body { 
        font-family: 'Inter', sans-serif; 
    }
}

@layer utilities {
    .fade-in { 
        animation: fadeIn 0.3s ease-in-out; 
    }
    
    .scrollbar-hide::-webkit-scrollbar { 
        display: none; 
    }
    
    .scrollbar-hide { 
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }

    .shake { 
        animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both; 
        border-color: #ef4444 !important; 
    }
}

@layer components {
    .progress-step.active .circle { 
        background-color: #16a34a; 
        border-color: #16a34a; 
        color: white; 
    }
    
    .progress-step.active .line { 
        background-color: #16a34a; 
    }
    
    .dark .progress-step.active .circle { 
        background-color: #22c55e; 
        border-color: #22c55e; 
        color: black; 
    } 
    
    .dark .progress-step.active .line { 
        background-color: #22c55e; 
    }
}

@keyframes fadeIn { 
    from { opacity: 0; } 
    to { opacity: 1; } 
}

@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}